@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  display: flex;
  justify-content: center;
  height: 4.25rem;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 61.875rem;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
nav ul,
nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul {
  display: flex;
}
nav a {
  display: block;
  padding: 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
nav a:hover,
nav .active a {
  color: #fff;
  background: #01ace4;
  font-weight: bold;
}

#banner {
  display: flex;
  justify-content: center;
  background-image: url('../images/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 37rem;
}
.column {
  flex-direction: column;
}
.banner_headline {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-shadow: 0px 1px 1px #555;
  max-width: 300px;
}
.banner_headline h1 {
  font-size: 3.5rem;
}
.banner_headline h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.banner_options {
  height: 13rem;
  display: flex;
}
.banner1,
.banner2,
.banner3 {
  flex: 1;
  color: #fff;
  padding: 19px 30px;
}
.banner1 {
  background-color: #42b3e5;
}
.banner2 {
  background-color: #0284ce;
}
.banner3 {
  background-color: #3156a3;
}
.banner_title {
  font-size: 1.5rem;
}
.banner_desc {
  padding: 1.2rem 0;
  font-size: 0.875rem;
}
.banner_options a {
  display: inline-block;
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}
#geral {
  display: flex;
  justify-content: center;
  height: 50rem;
}
#geral section {
  flex: 2;
}
#geral aside {
  flex: 1;
}
.widget_title {
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}
.widget_title_text {
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
.widget_title_bar {
  width: 50px;
  height: 2px;
  background: #42b3e5;
  margin-top: 10px;
}
