@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?70xmdn');
  src:  url('fonts/icomoon.eot?70xmdn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?70xmdn') format('truetype'),
    url('fonts/icomoon.woff?70xmdn') format('woff'),
    url('fonts/icomoon.svg?70xmdn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e905";
}
.icon-file-text2:before {
  content: "\e926";
}
